
body {

  background-image: url('../images/background-2691002_960_720.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 opacity: 1;
      filter: alpha(opacity=30); 
}
