
body {

  background-image: url('../images/gms.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 opacity: 1;
      filter: alpha(opacity=30); 
}
